.checkbox_container {
  position: relative;
  height: 160px;
}

.checkbox_container input {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 5;
  opacity: 0;
}

.form__checkbox_item {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: 
      filter 0.25s ease,
      border-color 0.25s ease;
    border: 1px transparent solid;
    border-radius: 3px;
    filter: grayscale(1);
}

.form__checkbox_image {
  height: 100%;
}

input:checked + .form__checkbox_item {
  filter: none;
  border: 1px solid #D38C37;
  transition:  filter 0.25s ease,
  border-color 0.25s ease;
}

.form__checkbox_description {
  color: rgba(211, 140, 55, 1);
  font-size: 14px;
  font-weight: 300;
  line-height: 17.61px;
  z-index: 2;
  /* position: absolute;
  bottom: 0; */
}

.form__checkbox_text_container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  position: absolute;
  bottom: 0;
  gap: 2px;
}

.form__checkbox_title {
  color: rgba(255, 255, 255, 1);
  font-weight: 300;
  font-size: 14px;
  line-height: 17.5px;
  text-transform: uppercase;
}

@media (max-width: 477px) {
  .form__checkbox_item_checked {
    overflow: visible;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .form__checkbox_item {
    overflow: visible;
    display: flex;
    flex-direction: column;
  }
  .form__checkbox_text_container {
    bottom: -120px;
    position: static;
    padding: 4px;

  }
  .form__checkbox_image {
    height: 160px;
  }
}

@media (max-width: 768px) {
  .checkbox_container {
    height: 224px;
  }
  .form__checkbox_item_checked {
    overflow: visible;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .form__checkbox_item {
    overflow: visible;
    display: flex;
    flex-direction: column;
  }
  .form__checkbox_text_container {
    bottom: -120px;
    position: static;
    padding: 4px;

  }
  .form__checkbox_image {
    height: 160px;
  }
}