.modal__root {
    margin: 0 auto;
    border-radius: 0;
    background-color: rgb(0, 0, 0, 0.8);
    padding: 30px;

    width: 100%;
    max-width: 670px;
    padding: 61px 0;
    margin: 50px auto;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 6px;
    color: #ffffff;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}

.modal__text {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    line-height: 80px;
    font-family: "GT-America-LC-Standard-Thin";
}

.modal__text_mobile {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    display: none;
}

.modal__text_minor {
    font-size: 14px;
    line-height: 17.5px;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    display: none;
}

.modal__close_button {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 10px;
    top: 9px;
}

.modal__close_button:hover {
    color: gray;
    transition: 0.2s;
}

@media (max-width: 477px) {
    .modal__root {
        max-width: 375px; 
        margin: 10px;
    }
    .modal__text_mobile {
        display: block;
    }
    .modal__text_minor {
        display: block;
    }
    .modal__text {
        display: none;
    }
  }