.form__radiogroup_item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    width: 160px;
    height: 70px;
    overflow: hidden;
    position: relative;
    filter: grayscale(1);
    transition: 
      filter 0.25s ease,
      border-color 0.25s ease;
    border: 1px transparent solid;
    border-radius: 3px;
    background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.1) 0%,
            rgba(0, 0, 0, 0.1) 100%
        ),
        rgba(255, 255, 255, 0.05);
}

.form__radiogroup_item_checked {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    width: 160px;
    height: 70px;
    overflow: hidden;
    position: relative;
    transition: 
      filter 0.25s ease,
      border-color 0.25s ease;
    border: 1px transparent solid;
    border-radius: 3px;
    background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.1) 0%,
            rgba(0, 0, 0, 0.1) 100%
        ),
        rgba(255, 255, 255, 0.05);
    border: 0.5px solid #D38C37;
}

/* .form__radiogroup_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.1) 80%
  );
  z-index: 1;
} */

.form__radiogroup_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17.5px;
  color: rgba(255, 255, 255, 1);
  padding: 0 10px;
}