.range__wrapper {
    position: relative;
    align-items: end;
    display: flex;
    height: 36px;
    /* padding-left: 18px; */
}

.range__tooltip {
    position: absolute;
    top: -7px;
    left: 14px;
    padding: 0.25rem 0.5rem;
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 275;
    line-height: 25px;
    border-radius: 0.375rem;
    transform: translateX(-50%);
    /* padding-left: 18px; */
}

.range__tooltip_default_one {
    position: absolute;
    left: 8px;
    padding: 0.25rem 0.5rem;
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 275;
    line-height: 25px;
    border-radius: 0.375rem;
    transform: translateX(-50%);
    opacity: 30%;
}

.range__tooltip_default_ten {
    position: absolute;
    right: -4px;
    padding: 0.25rem 0;
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 275;
    line-height: 25px;
    border-radius: 0.375rem;
    transform: translateX(-50%);
    opacity: 30%;
}

.form__range_input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    margin-top: 0.5rem;
    background: transparent;
}

.form__range_input:focus {
    outline: none;
}

.form__range_input::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background-color: #d38c37;
    border-radius: 2px;
}

.form__range_input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #d38c37;
    cursor: pointer;
    margin-top: -10.5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.form__range_input::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background-color: #d38c37;
    border-radius: 2px;
}

.form__range_input::-moz-range-thumb {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #d38c37;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.form__range_value_box {
    width: 100%;
    height: 25px;
    border: 1px solid white;
}

.wrapper {
    display: flex;
    width: 100%;
}
